.checkbox {
  display: inline-flex;
  align-items: center;
  flex-direction: row;

  &__icon {
    fill: none;
    stroke: #ECFAFA;
    stroke-width: 2px;

    &--hidden {
      visibility: hidden;
    }
  }

  &__styled {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #3C474C;
    transition: all 150ms;
  }

  &__label {
    margin-left: 5px;
    display: inline-block;
    color: #ACAEAF;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
  }
}