.checkbox {
  display: inline-flex;
  flex-direction: row;
  
  &__icon {
    fill: none;
    stroke: #ECFAFA;
    stroke-width: 2px;

    &--hidden {
      visibility: hidden;
    }
  }

  &__input {
    border: 0;
    clip: rect(0 0 0 0);
    clippath: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &__styled {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #3C474C;
    transition: all 150ms;
  }

  &__label {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    color: #ACAEAF;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
  }
}