.input-row {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  &__input {
    display: inline-block;
    width: 100%;
    border: 1px solid #3C474C;
    border-radius: 0;
    background: #303C41;
    font-size: 18px;
    color: #EDFEFE;
    height: 40px;
    padding: 0 13px;

    &--lt1 {
      color: #A9BABA;
    }

    &::placeholder {
      color: #7E848B;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
  }

  &__label {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    background: #303C41;
    color: #5E7986;
    border: 1px solid #3C474C;
    border-right: 0;
    padding: 0 9px;
    width: 125px;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;

    &--main {
      font-weight: 500;
      border-bottom-width: 4px;
    }
  }

  &__warn_icon {
    fill: #5E7986;
    position: absolute;
    right: 8px;
    top: 8px;
    pointer-events: none;
  }
}
  