body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #ECFDFD;
  background: #263238;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: #5E7986;
}

.main-container {
  max-width: 390px;
  padding: 0 15px;
  margin: 5vh auto 15px auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 14px;
}

.title {
  color: #ECFDFD;
  font-weight: 300;

  &__xs {
    font-size: 12px;
  }

  &__md {
    font-size: 22px;
  }
}

.input-rows {
  margin-bottom: 15px;
}

.footer {
  color: #5E7986;
  font-weight: 300;
  font-size: 13px;
}